.footer {
    background-color: $bg;
    margin: 120px 0;
  
    &__content {
        display: flex;
        padding: 120px 105px 60px 105px;
    }
    &__left {
        
        margin-right: 150px;
    }
    &__header {
        @include font(600, 28px, $black);
        text-transform: uppercase;
        margin-bottom: 30px;
        letter-spacing: 0.28px;
        text-transform: capitalize;
    }
    &__text {
        @include font(400, 15px, $black 160%);
        opacity: 0.8;
    }
    &__services {
        max-height: 135px;
    }
    &__service {
        @include font(400, 17px, $orange);
        letter-spacing: -0.232px;
        margin-bottom: 20px;
    }
    &__nav {
        @include font(400, 15px, $black);
        opacity: 0.8;
        margin-bottom: 20px;
        &__a {
            text-decoration: none;
        }
    }
    &__right {
        flex: 1 1 60%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 120px;
    
        &_nav {
            display: inline-block;
            max-height: 20px;
            margin-bottom: 20px;
           &_icon {
            width: 20px;
            height: 20px;
           }
        }
    }
    &__services {
        display: flex;
        flex-direction: column;
        flex: 1 1 15%;
        margin-bottom: 60px;
    }
    &__bottom {
        padding: 0px 105px 60px 105px;
        display: flex;
        justify-content: space-between;
        &__right {
            display: inline-block;
            &_tem{ 
            padding-right: 60px;
        }
    }

}
}