.hero {
    position: relative;
    &__back {
        width: 100%;
        object-fit: contain;
        position: absolute;
        z-index: -2;
       &__img{
        opacity: 0.5;
       }
    }
    
    &__content {
        padding: 15% 0 44.5% 0;
    }

    &__box {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 500px;
    }

    &__header {
        @include font(700, 80px, $black, 130%);
        text-align: center;
        margin-bottom: 15px;
        position: relative;
    }

    &__text {
        @include font(400, 24px, $black, 160%);
        opacity: 0.8;
        width: 47.5%;
        text-align: center;
        
    }
    
    &__form {
        width: 26%;
        position: relative;
    }

    &__input {
        width: 100%;
        height: 56px;
        padding: 8px 8px 8px 20px;
        border: 1px solid rgba($color: $white, $alpha: 0.6);
        border-radius: 42px;
        background-color: rgba($color: $white, $alpha: 0.15);
        backdrop-filter: blur(4px);
        outline: none;
        font-size: 24px;
        &::placeholder {
            @include font(400, 18px, rgba($color: $white, $alpha: 0.8));
        }
    }

    &__btn {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $orange;
        top: 8px;
        right: 8px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 70%;
            height: 70%;
        }
    }





    &__popUp {
        position: absolute;
        width: 32px;
        height: 32px;
        border: 1px solid rgba($color: $white, $alpha: 0.6);
        border-radius: 50%;
        background-color: rgba($color: $white, $alpha: 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(4px);
        span {
            position: relative;
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: $white;
            border-radius: 50%;
            &::after {
                position: absolute;
                content: '';
                width: 20px;
                height: 10px;
                background-color: red;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border: 1px solid rgba($color: $white, $alpha: 0.6);
                background-color: rgba(128, 128, 128, 0.823);
                backdrop-filter: blur(4px);
                border-top: 1px solid rgba(128, 128, 128, 0.671);
                top: -46px;
                left: -6px;
                z-index: 5;
            }
        }
        &_drop {
            position: absolute;
            width: 112px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            // background-image: url(../images/popup.png);
            // background-repeat: no-repeat;
            // background-size: contain;
            border-radius: 36px;
            border: 0.5px solid rgba($color: $white, $alpha: 0.8);
            background-color: rgba(128, 128, 128, 0.842);
            backdrop-filter: blur(10px);
            top: -90px;
            left: -50px;
            label {
                position: relative;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 2px solid $white;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
            input {
                position: absolute;
                z-index: -1;
                opacity: 1;
                left: 5px;
                top: 5px;
            }
            // input+label {
            //     display: inline-flex;
            //     align-items: center;
            // }
            // label::before {
            //     position: absolute;
            //     content: '';
            //     width: 5px;
            //     height: 5px;
            //     top: 5px;
            //     left: 7px;
            //     border-bottom: 2px solid $white;
            //     border-right: 2px solid $white;
            //     transform: rotate(45deg);
            //     opacity: 0;
            // }
            // input:checked+label::before{
            //     opacity: 1;
            // }
           
        }
        &_check {
            background-image: url(./images/check.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
        &_label-1 {
            background-color: $orange;
            left: 0;
        }
        &_label-2 {
            background-color: $aqua;
            right: 0;
        }
        &_label-3 {
            background-color: $grey;
        }
        &_1 {
            bottom: 33%;
            left: 8%;
        }
        &_2 {
            bottom: 30%;
            left: 20%;
        }
        &_3 {
            bottom: 23%;
            left: 55.5%;
        }
        &_4 {
            bottom: 18%;
            right: 3%;
        }

    }



    
}