$black: #1e1e1e;
$white: #fff;
$orange: #E58411;
$aqua: #00D6C9;
$blue: #0D1B39;
$bg: #F7F7F7;
$bg-card: #FAFAFA;
$grey: #7c7c7c;

@mixin font( $weght, $size: 14px,  $color: $black, $lineHeight: 0) {
    @if $size != 14px {
        font-size: $size;
    }
    font-size: $size;
    font-weight: $weght;
    @if $lineHeight != 0 {
        line-height: $lineHeight;
    }
    color: $color;
    @if $color != $black {
        color: $color;
    } 
}